.container {
  width: 500px;
  max-height: 500px;
  border: 2px solid #3c152b;
  border-radius: 5px;
  padding: 20px;
  background: white;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #3c152b;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.heading img {
  height: 12px;
  width: 12px;
}

.formContainer {
  width: 100%;
  max-width: 500px;
}

.formContainer form {
  width: 100%;
}

.formContainer .MuiTextField-root {
  margin-bottom: 15px;
}

.formContainer .MuiButton-root {
  background-color: #3c152b;
  color: white;
  margin-top: 15px;
}

.formContainer .MuiButton-root:hover {
  background-color: #592542;
}

.button {
  min-height: 3rem;

  min-width: 25rem;
  font-family: poppins;
  font-weight: 300;
  font-size: medium;
  border-radius: 5px;
  border-width: 0px;
  color: #f5eded;
  background-color: #3c152b;
  margin-top: 20px;
  padding: 10px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button:hover {
  color: #3c152b;
  background-color: #f5eded;
  cursor: pointer;
}
