@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

.html {
  font-size: 62.5%;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-width: 300px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  gap: 20px;
  font-family: poppins;
  color: black;
  font-size: 1.5rem;
  background-color: hsl(34, 53%, 82%);
  background-image: repeating-linear-gradient(
      45deg,
      transparent 5px,
      hsla(197, 62%, 11%, 0.5) 5px,
      hsla(197, 62%, 11%, 0.5) 10px,
      hsla(5, 53%, 63%, 0) 10px,
      hsla(5, 53%, 63%, 0) 35px,
      hsla(5, 53%, 63%, 0.5) 35px,
      hsla(5, 53%, 63%, 0.5) 40px,
      hsla(197, 62%, 11%, 0.5) 40px,
      hsla(197, 62%, 11%, 0.5) 50px,
      hsla(197, 62%, 11%, 0) 50px,
      hsla(197, 62%, 11%, 0) 60px,
      hsla(5, 53%, 63%, 0.5) 60px,
      hsla(5, 53%, 63%, 0.5) 70px,
      hsla(35, 91%, 65%, 0.5) 70px,
      hsla(35, 91%, 65%, 0.5) 80px,
      hsla(35, 91%, 65%, 0) 80px,
      hsla(35, 91%, 65%, 0) 90px,
      hsla(5, 53%, 63%, 0.5) 90px,
      hsla(5, 53%, 63%, 0.5) 110px,
      hsla(5, 53%, 63%, 0) 110px,
      hsla(5, 53%, 63%, 0) 120px,
      hsla(197, 62%, 11%, 0.5) 120px,
      hsla(197, 62%, 11%, 0.5) 140px
    ),
    repeating-linear-gradient(
      135deg,
      transparent 5px,
      hsla(197, 62%, 11%, 0.5) 5px,
      hsla(197, 62%, 11%, 0.5) 10px,
      hsla(5, 53%, 63%, 0) 10px,
      hsla(5, 53%, 63%, 0) 35px,
      hsla(5, 53%, 63%, 0.5) 35px,
      hsla(5, 53%, 63%, 0.5) 40px,
      hsla(197, 62%, 11%, 0.5) 40px,
      hsla(197, 62%, 11%, 0.5) 50px,
      hsla(197, 62%, 11%, 0) 50px,
      hsla(197, 62%, 11%, 0) 60px,
      hsla(5, 53%, 63%, 0.5) 60px,
      hsla(5, 53%, 63%, 0.5) 70px,
      hsla(35, 91%, 65%, 0.5) 70px,
      hsla(35, 91%, 65%, 0.5) 80px,
      hsla(35, 91%, 65%, 0) 80px,
      hsla(35, 91%, 65%, 0) 90px,
      hsla(5, 53%, 63%, 0.5) 90px,
      hsla(5, 53%, 63%, 0.5) 110px,
      hsla(5, 53%, 63%, 0) 110px,
      hsla(5, 53%, 63%, 0) 140px,
      hsla(197, 62%, 11%, 0.5) 140px,
      hsla(197, 62%, 11%, 0.5) 160px
    );
  padding: 40px;
}

.main {
  display: flex;
  justify-content: center;
}

.image img {
  min-width: 40vw;
  border-radius: 10px;
}

.productDetails {
  min-width: 40vw;
  background-color: #f4ecec;
  /* border-radius: 10px; */
  padding: 20px;
  border-radius: 10px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: poppins;
  font-weight: 500;
  font-size: 3rem;
}

.price {
  font-family: poppins;
  font-weight: 500;
  font-size: 2.5rem;
}
.variantContainer {
  display: flex;
  gap: 20px;
}

.variants {
  width: 100px;
  height: 100px;
  background: white;
  text-align: center;
  /* padding: 40px; */
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.variantBox {
}

.variants:hover {
  border-color: #ccc;
}

.selectedVariant {
  border-color: #3c152b;
  background-color: #f0f0f0;
  font-weight: bold;
}

.button {
  height: 3.6rem;
  width: 100%;
  background: #3c152b;
  color: white;
  border-radius: 0.4rem;
  align-self: center;
  border: none;
}

.button:hover {
  box-shadow: 1px 1px 6.199999809265137px 0px #ffb900;
}

.container span {
  font-family: poppins;
  font-weight: 500;
  font-size: 1.5rem;
}

.costPrice {
  text-decoration: line-through;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .variantContainer {
    flex-direction: column;
  }
}
