* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.carouselImage {
  object-fit: cover;
  position: relative;
  display: flex;
  min-height: 287px;
  min-width: 600px;
}

.carouselText {
  width: 100%;
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.mainHeading {
  z-index: 9000;
  font-size: 4rem;
  color: black;
  font-family: "Poppins", sans-serif;
}

.mainHeading1 {
  z-index: 9000;
  font-size: 4rem;
  color: black;
  font-family: "Poppins", sans-serif;
}

.mainHeading2 {
  z-index: 9000;
  font-size: 4rem;
  color: #d8d8d8;
  font-family: "Poppins", sans-serif;
}

.mainwrap {
  display: flex;
  flex-direction: column;
  background-color: #fffbf1;
  width: 100%;
  padding: 4rem 6.5rem 4rem 6.5rem;
}

#originalPrice {
  color: #ababab;
  font-size: 3rem;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 5rem;
  padding-left: 3rem;
  text-decoration: line-through;
}

.subHeading {
  color: #464646;
  font-size: 4rem;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 5rem;
}

.text {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding: 1rem 0em 1rem 0rem;
}

.Image1 {
  width: 14rem;
  height: 7rem;
  background-image: url(/travelBag.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.crossButton {
  width: 16px;
  background-image: url(/cross.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  opacity: 0.6;
}

.globalButton {
  background-color: white;
  color: #ef7c30;
  border: 1px solid #ef7c30;
  padding: 0.5rem;
  border-radius: 5px;
}

.mobileFilter {
  display: block;
  width: 100vw;
  padding: 2rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: gray !important;
}

/* .swiper-button-prev{
  color: white !important;
} */
a {
  color: inherit; /* Use the default text color */
  text-decoration: none; /* Remove underline */
}
