<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="footer">
      <div class="container">
        <div class="columnFooter">
          <div><span>Stay in touch</span></div>
          <div>
            Subscribe to receive updates,<br />
            access to exclusive deals and more
          </div>
          <div>
            <input
              id="email"
              type="text"
              class="email"
              placeholder="Enter your email address"
            />
          </div>
          <div><button class="subscribe_btn">SUBSCRIBE</button></div>
        </div>
        <div class="columnFooter">
          <div><span>Help</span></div>
          <div>Help Center</div>
          <div>FAQs</div>
          <div>Cookie policy</div>
          <div>Terms of use</div>
          <div>Manage cookie settings</div>
        </div>
        <div class="columnFooter">
          <div><span>Company</span></div>
          <div>About Us</div>
          <div>Careers</div>
          <div>Press</div>
          <div>Blog</div>
        </div>
        <div class="columnFooter">
          <div><span>Follow us on</span></div>
          <div class="imageContainer">
            <img class="image" src="./facebook.svg" />
            <img class="image" src="./instagram.svg" />
            <img class="image" src="./twitter.svg" />
            <img class="image" src="./tiktok.svg" />
          </div>
        </div>
      </div>
      <div class="footer_footer">
        <div>PRIVACY POLICY</div>
        <div>TERMS OF SERVICE</div>
      </div>
    </div>
  </body>
</html>
