@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
.html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d695c;
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    );
  background-size: 70px 120px;
}

.container {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  border-color: #3c152b;
}

.heading {
  font-family: poppins;
  font-size: 2rem;
  color: #3c152b;
  margin-bottom: 20px;
}
