@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

.html {
  font-size: 62.7%;
  background-color: #f5eded;
  font-family: Poppins;
}

.container {
  padding: 3rem;
}

.headings {
  color: #3c152b;
  font-size: 2rem;
  font-weight: 600;
}

.sideHeading {
  color: #3c152b;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: center; */
  row-gap: 3rem;
  column-gap: 3rem;
  margin-top: 2rem;
}

.flex1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
  row-gap: 3rem;
  column-gap: 3rem;
  margin-top: 2rem;
}

.paymentContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  text-align: center;
  margin-top: 6rem;
  font-family: poppins;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.paymentContainer img {
  max-width: 100%;
}

.gifting {
  width: 100%;
  background-color: #f5eded;
  margin-bottom: 100px;
  position: relative;
}

.gifting img {
  width: 100%;
  background-color: #f5eded;
  /* margin-bottom: 40px; */
}

.giftHeading {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 700;
  color: #3c152b;
}

@media screen and (max-width: 800px) {
  .giftHeading {
    font-size: 1.3rem;
  }
}
