.dummy1 {
  height: 0.1rem;
  background-color: gray;
}
.cartbar {
  /* display: none; */
  position: fixed;
  top: 0px;
  right: 0px;
  min-height: 95vh;
  width: 30rem;
  background-color: white;
  z-index: 100000;
  font-family: poppins;
  font-size: 1.7rem;
  font-weight: 500;
  color: #3c152b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000000000000000000000000000000;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.crossImg {
  height: 1rem;
}

.cartItem {
  max-height: 80vh;
  /* overflow: auto; */
  overflow-y: auto;
  min-height: 65vh;
}

.checkOut {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.checkOutBtn {
  height: 3rem;
  margin: auto;
  min-width: 25rem;
  font-family: poppins;
  font-weight: 500;
  font-size: medium;
  border-radius: 5px;
  border-width: 0px;
  color: #f5eded;
  background-color: #3c152b;
}

.checkOutBtn:hover {
  color: #3c152b;
  background-color: #f5eded;
}

.cartItemContainer {
  display: flex;
}

.cartItemContainer img {
  height: 100px;
  width: 100px;
}

.cartItem::-webkit-scrollbar {
  width: 6px; 
}

.cartItem::-webkit-scrollbar-thumb {
  background-color: #3c152b;
  border-radius: 3px; 
}

.cartItem::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

.itemDescription img {
  height: 2rem;
  width: 2rem;
}
