.html {
  font-size: 62.5%;

  padding: 0;
  box-sizing: border-box;
}

.containerr {
  position: relative;
  margin-top: 3rem;
  background-color: gray;
  width: 25rem;
  height: 42.86rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  font-family: poppins;
  color: #902551;
  font-size: 1.3rem;
  background: #f5eded;
  font-weight: 500;
  gap: 1rem;
}

.discount {
  width: 10px;
  height: 10px;
}

.button {
  height: 3.6rem;
  min-width: 15rem;
  background: #3c152b;
  color: white;
  border-radius: 0.4rem;

  border: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: 1px 1px 6.199999809265137px 0px #ffb900;
}

.containerr img {
  /* width: 100%; */
  min-height: 50%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.containerr span {
  text-decoration: line-through;
  color: gray;
  font-size: 1.3rem;
}

.discountPercent {
  position: absolute;
  right: 0px;
  top: 0px;
  min-width: 3rem;
  /* min-height: 3rem; */
  color: #3c152b;
  background: #f5eded;
  text-align: center;
  padding: 5px;
}

.ratingImg {
  max-height: 1.3rem;
}

.cost {
  display: flex;
  justify-content: center;
}

.star {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #3c152b;
  background: #f5eded;
  padding: 5px;
}

.imageContainer {
  height: 70%;
}

.imageContainer img {
  height: 100%;
}

/* aspect ratio : 25 * 30 */
