.html {
  font-size: 62.7%;
}

.container {
  padding: 2rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: poppins;
  font-size: small;
  font-weight: 500;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.4)
}

.mainDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter {
  border: solid;
  border-width: 1px;
  border-color: gray;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container span{
  font-size: medium;
  font-weight: 500;
}




